body, button, html {
  font-family: 'Geist Mono', monospace;
  background-color: #121212;
  max-width: 100%;
}

code, pre {
  font-family: 'Geist Mono', monospace;
}

h1, p, h2 {
  color: #E0E0E0;
}

ul {
  color: #B0B0B0;
}

p {
  text-align: center;
  width: 300px;
}

.first-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #E0E0E0;
  font-size: 70px;
  animation: fadeInUp 0.6s ease-out forwards;
}

.profile-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInUp 0.6s ease-out forwards;
}

.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin-top: 20px;
  /* 1. Semi-transparent background */
    background: rgba(255, 255, 255, 0.15); 
    
    /* 2. The frosted glass blur effect (and Safari support) */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    
    /* 3. Highlighting the faux glass edges */
    border: 1px solid rgba(255, 255, 255, 0.25);
    
    /* 4. Soft shadow to separate from the background */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    
    /* 5. Clean layout styling */
    border-radius: 16px;
    padding: 24px;
    color: #ffffff;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}

.btn-portfolio {
  margin: 15px;
  border: none;
  padding: 16px;
  border-radius: 32px;
  background-color: #888888;
  color: #ffffff;
  cursor: pointer;
}

.btn-portfolio:hover {
  background-color: #ffffff;
  color: #888888;
  /* The core magic: property | duration | timing-function */
  transition: all 0.3s ease-in;
}

.portfolio-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #444444; 
  padding: 25px;
  margin: 20px 20px;
  border-radius: 15px;
  max-width: 290px;
  animation: fadeInUp 0.6s ease-out forwards;
}